.container {
  width: 150%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 300px;
}

.logo {
  position: absolute;
  top: 0;
  color: white;
  padding: 50px;
}

.logo h4 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0;
  
}

.logo p {
  font-style: italic;
  font-size: 20px;
  margin-top: 0;
}

nav {
  align-items: right;
  padding-left: 0;
  align-items: right;
  float: right;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-align: right;
  margin-left: 100px;
  margin-top: 50px;
}


nav ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  transition: 5s;
}

a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px solid black;
  transition: .5s;
}

.search {
  float: right;
  padding-top: 10px;
  padding-right: 40px;
}

form {
  background: white;
  width: 50%;
  height: 30px;
  display: flex;
}

input {
  flex: 1;
  border: none;
  outline: none;
  color: black;
  background: transparent;
}

button {
  background: skyblue;
  border: none;
  outline: none;
  cursor: pointer;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
  padding-top: 60px;
}

.col {
  flex-basis: 50%;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 15px;
  margin-top: 0;
}


.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-size: cover;
  background-image: url(des1.jpeg);
}
.card:hover {
  transform: scale(1.15);
  opacity: 1;
}